/* Images with empty alt tags */
img[alt=""] {
    background: red !important;
    border: 3px solid red !important;
}
/* Images with empty alt tags */
img[alt=" "] {
    background: purple !important;
    border: 3px solid purple !important;
}
